footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: center;
    font-family: 'Alex Brush', cursive;
    color: #303e49;
    font-size: 2em;
    margin-top: 1px;
    border-top: 1px solid #BDBDBD;
    padding:5px;
 }

 footer .country {
    background:no-repeat top left;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-bottom: -5px;
 }

.footer-hider {
    height: 100px;
    width: 100%;
}


@media screen and (max-width: 800px) {
    footer {
        position: relative;
    }
  }