
  
  .main-point {
    font-family: 'Crafty Girls', cursive;
    color: #212121;
    font-weight: bold;
    font-size: 1.2em;
  }

  header {
    min-height: 100px;
    padding: 20px 20px;
    line-height: 2em;
    overflow: hidden;
    box-sizing: border-box;
  }
  
  .nethi-adi {
    font-size: 1.5em;
    text-align: center;
    font-family: 'Saira', sans-serif;
    color: #303e49;
    padding: 10px;
  }
  
  .logo {
    float: left;
  }
  
  .menu-bar {
    float: right;
  }
  
  .menu-bar a {
    font-family: 'Chivo', sans-serif;
    color: #424242;
    margin-right: 10px;
  }
  
  .menu-bar a:hover {
    color: #000;
  }
  
  @media screen and (max-width: 500px) {
    header {
      text-align: center;
    }
    .logo {
      float: none;
      
    }
    .menu-bar {
      float: none;
    }
  
    .menu-bar a {
      display: block;
      text-align: center;
    }
  }
  