main {
    padding: 100px 20px;
    min-height: 200px;
    text-align: center;
}

.countries-list {

}

.countries-list a {
    text-decoration: none;
    color: #424242;
    font-family: 'Chivo', sans-serif;
    color: #424242;
    font-size: 1.6em;

}

.countries-list a:hover {
    color: #000000;
}

.mass-naadu {
    margin: 20px;
}


.kodi-kaapan img{
    width: 30px;
    height: 30px;
    vertical-align: bottom;
    animation: kodi-kaapan-animation linear 2s;
    animation-iteration-count:  infinite;
    transform-origin: 50% 50%;
    -webkit-animation: kodi-kaapan-animation linear 2s;
    -webkit-animation-iteration-count:  infinite;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: kodi-kaapan-animation linear 2s;
    -moz-animation-iteration-count:  infinite;
    -moz-transform-origin: 50% 50%;
    -o-animation: kodi-kaapan-animation linear 2s;
    -o-animation-iteration-count:  infinite;
    -o-transform-origin: 50% 50%;
    -ms-animation: kodi-kaapan-animation linear 2s;
    -ms-animation-iteration-count:  infinite;
    -ms-transform-origin: 50% 50%;
  }

  .viraivil img{
      animation: none;
      -webkit-animation: none;
      -moz-animation: none;
      -o-animation: none;
      -ms-animation: none;
  }

  .viraivil {
      pointer-events: none;
  }

  .viraivil img {
      opacity: 0.2;
  }

  .viraivil a {
      color: #F5F5F5;
  }

  .viraivil a:hover {
      color: #F5F5F5;

  }

  
  @keyframes kodi-kaapan-animation{
    0% {
        opacity:1;
      }
      20% {
          opacity: 0.60;
      }
      50% {
        opacity:0.20;
      }
      75% {
          opacity: 0.50;
      }
      100% {
        opacity:0.80;
      }
    }
  }
  
  @-moz-keyframes kodi-kaapan-animation{
    0% {
        opacity:1;
      }
      20% {
          opacity: 0.60;
      }
      50% {
        opacity:0.20;
      }
      75% {
          opacity: 0.50;
      }
      100% {
        opacity:0.80;
      }
    }
  }
  
  @-webkit-keyframes kodi-kaapan-animation {
    0% {
        opacity:1;
      }
      20% {
          opacity: 0.60;
      }
      50% {
        opacity:0.20;
      }
      75% {
          opacity: 0.50;
      }
      100% {
        opacity:0.80;
      }
    }
  }
  
  @-o-keyframes kodi-kaapan-animation {
    0% {
        opacity:1;
      }
      20% {
          opacity: 0.60;
      }
      50% {
        opacity:0.20;
      }
      75% {
          opacity: 0.50;
      }
      100% {
        opacity:0.80;
      }
    }
  }
  
  @-ms-keyframes kodi-kaapan-animation {
    0% {
        opacity:1;
      }
      20% {
          opacity: 0.60;
      }
      50% {
        opacity:0.20;
      }
      75% {
          opacity: 0.50;
      }
      100% {
        opacity:0.80;
      }
    }
  }

